---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>gmgalvan</title>
	</head>
	<body>
		<h1>Hello! My name is Guillermo Galván</h1>
		<p>I'm a software developer with a passion for technology and a strong focus on blockchain, artificial intelligence, and cloud computing. I am also deeply interested in the intersection of technology and finance. I believe that with the right tools and strategies, technology can greatly improve the efficiency and accuracy of trading and financial analysis. I am excited to explore and apply these concepts in real-world scenarios.</p>
	</body>
</html>
